<p id="notice"><%= notice %></p>

<h2>Tu Carrito de compras</h2>
<ul>
    <% @cart.line_items.each do |itme| %>
    <li><%= itme.product.title%> x <%= itme.quantity%> = <%= itme.total_price%></li>
    <% end %>
</ul>
<p>Total: <%= @cart.total_price%></p>

<%= button_to 'vaciar', @cart, method: :delete, data: { confirm: 'Estás Seguro?' } %>

